@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,300;0,400;0,600;0,900;1,400&display=swap');

p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}


/* The next two rules make the horizontal line go straight across in top navbar */

.summary > li:first-child {
    height: 50px;
    padding-top: 10px;
    border-bottom: 1px solid rgba(0,0,0,.07);
}

.book .book-summary ul.summary li.divider {
    height: 0px;
}

/*____Code Chunks____*/

.sourceCode pre {
  margin: 0 !important; /* makes space above and below symmetrical*/
}

.sourceCode {
  margin-bottom: 0.85em; /* adds same amount of margin as a <p> would */
}

 /*------------- Body and header text---------------- */

.book.font-family-1 {
  font-family: 'Noto Sans', sans-serif;
 }
 
 h1, h2, h3, h4 {
  color: #7ba1ad;
}

.title {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 3em !important;
  color: #608c99;
 }

.subtitle {
  font-family: 'Source Sans Pro', sans-serif;
  color: #608c99;
}
 
 
 
 /* -----------Sidebar div tips------------- */
/* from r-pkgs.org*/

  div.puzzle, div.assignment, div.fyi, div.codetime, div.note, div.reading, div.sugreading, div.sds {
    padding: 1em;
    margin: 1em 0;
    padding-left: 100px;
    background-size: 70px;
    background-repeat: no-repeat;
    background-position: 15px center;
    min-height: 120px;
    color: #1f5386;
  }

div.puzzle {
  background-image: url("../images/illos/Your-turn.png");
  background-color: #bed3ec;
}

div.assignment {
  background-image: url("../images/illos/Gears.jpg");
  border: solid 5px #7ba1ad;
}


div.fyi {
 background-image: url("../images/illos/fyi.png");
 background-color: #70db70;
}

div.codetime {
  background-image: url("../images/illos/Live-code.png");
  background-color: #ffbf00;
}

div.note {
  background-image: url("../images/illos/Lightbulb2.png");
  background-color: #FADA5E;
}

div.sugreading {
  background-image: url("../images/jolos/coffee.png");
}

div.reading {
  background-image: url("../images/jolos/book.png");
  border: solid 5px #bf68ab;
}

div.sds {
  background-image: url("../images/jolos/rocket_square.png");
}

/*------------ TOC --------------*/

.book .book-summary {
  background: white;
  border-right: none;
}

.summary {
  font-family: 'Source Sans Pro', sans-serif;
}

.summary a:hover {
  color: #b0ced8 !important;
} 

.book .book-summary ul.summary li.active>a { /*active TOC links*/
  color:#b0ced8 !important;
  border-left: solid 4px;
  border-color: #b0ced8;
  padding-left: 11px !important;
}  

li.appendix span, li.part span { /* for TOC part names */
  margin-top: 1em;
  color: #1c3046 !important;
  opacity: 1 !important;
  text-transform: uppercase;
}

/*--- LOGO ---*/

.toc-logo {
  width: 200px !important;
  object-fit: contain;
  margin: 0 auto;
  display: block;
}

.toc-logo img {
  max-width: 100%;
  margin-bottom: 10px;
}

.summary > li:first-child {
  height: auto !important; 
}

/* HERO IMAGE */

.hero-image-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 390px;
  background-color: #608c99;
}

.hero-image {
  width: 100%;
  height: 390px;
  object-fit: cover;
}

.page-inner {
  padding-top: 400px !important;
}